<div class="p-6 bg-[#F5F3E6]">
  <h1 class="text-3xl font-bold text-[#04173D] text-center">
    Liste des Recettes
  </h1>
  <div class="mt-4 flex space-x-4 justify-center">
    <!-- Select pour le type de plat -->
    <select
      name="type"
      id="type"
      class="block w-40 border border-[#D1965C] rounded-lg bg-[#F5F3E6] text-[#04173D] font-medium p-2 focus:outline-none focus:ring-2 focus:ring-[#D1965C] focus:border-[#D1965C] hover:shadow-lg transition-shadow duration-300"
      [(ngModel)]="selectedType"
      (ngModelChange)="filter()"
    >
      <option value="entree">Entrée</option>
      <option value="plat">Plat</option>
      <option value="dessert">Dessert</option>
    </select>

    <!-- Select pour la difficulté -->
    <select
      name="difficulte"
      id="difficulte"
      class="block w-40 border border-[#D1965C] rounded-lg bg-[#F5F3E6] text-[#04173D] font-medium p-2 focus:outline-none focus:ring-2 focus:ring-[#D1965C] focus:border-[#D1965C] hover:shadow-lg transition-shadow duration-300"
      [(ngModel)]="selectedDifficulte"
      (ngModelChange)="filter()"
    >
      <option value="facile">Facile</option>
      <option value="intermediaire">Intermédiaire</option>
      <option value="difficile">Difficile</option>
    </select>
  </div>

  <ul class="mt-6 space-y-6">
    <li
      *ngFor="let recette of recettes"
      class="p-6 bg-[#D1965C] rounded-xl shadow-lg hover:shadow-2xl transition-shadow duration-300"
    >
      <h2 class="text-2xl font-semibold text-[#04173D]">{{ recette.nom }}</h2>
      <p class="mt-2 text-base text-[#4A4A4A]">{{ recette.description }}</p>
      <p class="mt-2 text-sm text-[#800020]">Auteur : {{ recette.auteur }}</p>

      <!-- Boutons de modification et de suppression -->
      <div class="mt-4 flex space-x-4 justify-center">
        <button
          class="bg-[#800020] text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#B30033] transition duration-300"
          (click)="delete(recette.id)"
        >
          Supprimer
        </button>
        <button
          class="bg-[#04173D] text-white font-semibold py-2 px-4 rounded-lg hover:bg-[#022B47] transition duration-300"
          (click)="modify(recette.id)"
        >
          Modifier
        </button>
      </div>
    </li>
  </ul>
</div>
